alias sshaddfirm='ssh-add ~/.ssh/id_rsa'
alias sshaddpriv='ssh-add ~/.ssh/privat'
alias sshaddauto='ssh-add ~/.ssh/id_rsa ~/.ssh/privat'
alias sshconfig="$EDITOR ~/.ssh/config"

# bat
alias cat='bat --plain --paging never'

#update script
alias update='yay -Syu && sudo systemctl start clientinfocollector.service'

#add DNS to resolve.conf
alias nameserverstuff='echo "nameserver 1.1.1.1\nnameserver 8.8.8.8" | sudo tee /etc/resolv.conf'

# reload .profile file
alias sourceprofile="source ~/.profile"

#docker-compose
alias dc="docker-compose"

#make
alias m="make"

#kde
alias plasmarestart="killall plasmashell || true && bash -c \"nohup plasmashell >/dev/null 2>&1 & exit\""

#vpn
alias vpnon="/Users/dschaedler/Firma/VPN/openconnect-connect.sh"
alias vpnoff="/Users/dschaedler/Firma/VPN/openconnect-disconnect.sh"

#ldapbrowser
alias ldapbrowser='javaws ~/Downloads/ldapbrowser/ldapbrowser\lbe.jar'

#jit
alias jit='javaws ~/Firma/intranet-tool.jnlp &'

#ps aux
alias psauxgrep='ps -aux | head -1 && ps -aux | grep'

#git
alias git='LANG=en_GB git'
alias gmff='git merge --ff-only'
alias gitconfigprivat='git config user.name "Malaber" && git config user.email "git@schaedler.rocks" && git config user.signingkey /Users/dschaedler/.ssh/privat'
alias gitconfigfirma='git config user.name "Daniel Schädler" && git config user.email "dschaedler@united-internet.de" && git config user.signingkey /Users/dschaedler/.ssh/id_ed25519'
alias gitconfigfirmaglobal='git config --global user.name "Daniel Schädler" && git config --global user.email "dschaedler@united-internet.de" && git config --global user.signingkey /Users/dschaedler/.ssh/id_ed25519'
alias gitconfigunset='git config --global --unset user.name && git config --global --unset user.email && git config --global --unset user.signingkey'
alias gpa='git pushall'
gitrebasi() {
    git rebase -i HEAD~"$1" --autostash
}
alias grba='git rebase --autostash'
alias drücken!="git push"

#docker 
alias dockerkillall='docker ps -q | xargs docker stop'
alias dockerdeleteallstoppedcontainers='docker ps -q | xargs docker stop | xargs docker rm '
alias dockerdeleteallimages='docker images -q | xargs docker rmi'
alias dockerimagesize="docker image inspect --format='{{.Size}}'"
alias dockerrunrm="docker run --rm --pull --entrypoint='' -it"

#kubectl
alias kubectl-qa='kubectl --kubeconfig ~/.kube/config-qa'
alias kubectl-live='kubectl --kubeconfig ~/.kube/config-live'

#lastpass
alias lpscp='lpass show -G -c -p'
alias lpsp='lpass show -G -p'
alias lps='lpass show -G'

#make
alias remake='make realclean && make'

#current stuff
alias cdpa="cd /home/dschaedler/Git/Github.com/Malaber/praxisarbeit-sem3"

#rm safety
alias rm="rm -I"

#vstuido code
alias codehere="code . &"

#jetbrains
alias pyh='open -a "PyCharm Professional Edition.app" .'
alias ijh='open -a "IntelliJ IDEA Ultimate.app" .'

#youtube-dl
alias yt="youtube-dl"
