# ssh
alias sshconfig="$EDITOR ~/.ssh/config"

# bat
alias cat='bat{{ if eq .chezmoi.os "linux" }}cat{{ end }} --plain --paging never'

# lsd
alias ls='lsd'

# reload .profile file
alias sourceprofile="source ~/.custom_profile"

#make
alias m="make"
alias remake='make realclean && make'

#ps aux
alias psauxgrep='ps -aux | head -1 && ps -aux | grep'

#git
alias git='LANG=en_GB git'
alias gmff='git merge --ff-only'
alias gitconfigprivat='git config user.name "Malaber" && git config user.email "git@schaedler.rocks" && git config user.signingkey /Users/$USER/.ssh/privat'
alias gitconfignetlution='git config user.name "Daniel Schädler" && git config user.email "daniel.schaedler@netlution.de" && git config user.signingkey /Users/$USER/.ssh/id_ed25519'
alias gitconfigunset='git config --global --unset user.name && git config --global --unset user.email && git config --global --unset user.signingkey'
alias gpa='git pushall'
gitrebasi() {
    git rebase -i HEAD~"$1" --autostash
}
alias grba='git rebase --autostash'

#docker
alias dockerkillall='docker ps -q | xargs docker stop'
alias dockerdeleteallstoppedcontainers='docker ps -q | xargs docker stop | xargs docker rm '
alias dockerdeleteallimages='docker images -q | xargs docker rmi'
alias dockerimagesize="docker image inspect --format='{{ "{{.Size}}" }}'"
alias dockerrunrm="docker run --rm --pull=always --entrypoint='' -it"
alias dockerrunrmlocal="docker run --rm --entrypoint='' -it"

containerfilereconstruction() {
  local image=$1
  docker history --no-trunc --format '{{ "{{.ID}} {{.CreatedBy}}" }}' "$image" | tac | nl
}

#docker-compose
alias dc="docker-compose"

#podman
alias podmankillall='podman ps -q | xargs podman stop'
alias podmandeleteallstoppedcontainers='podman ps -q | xargs podman stop | xargs podman rm '
alias podmandeleteallimages='podman images -q | xargs podman rmi'
alias podmanimagesize="podman image inspect --format='{{ "{{.Size}}" }}'"
alias podmanrunrm="podman run --rm --pull=always --entrypoint='' -it"
alias podmanrunrmlocal="podman run --rm --entrypoint='' -it"

containerfilereconstruction() {
  local image=$1
  podman history --no-trunc --format '{{ "{{.ID}} {{.CreatedBy}}" }}' "$image" | tac | nl
}

#podman-compose
alias pc="podman-compose"

#kubectl
alias kubectl-qa='kubectl --kubeconfig ~/.kube/config-qa'
alias kubectl-live='kubectl --kubeconfig ~/.kube/config-live'
alias kubectl-lao='kubectl --kubeconfig ~/.kube/lao_k8s'

alias kubectlswitchqa='ln -sf ~/.kube/config-qa ~/.kube/config'
alias kubectlswitchlive='ln -sf ~/.kube/config-live ~/.kube/config'
alias kubectlswitchlao_k8s='ln -sf ~/.kube/lao_k8s ~/.kube/config'

alias k="kubectl"

#rm safety
alias rm="rm -I"

#vscode
alias codehere="code . &"

#jetbrains
{{ if eq .chezmoi.os "windows" }}
JB_PATH='/mnt/c/Users/daniels/AppData/Local/Programs'

alias pyh="$JB_PATH/PyCharm/bin/pycharm64.exe ."
alias ijh="$JB_PATH/IntelliJ\ IDEA\ Ultimate/bin/idea64.exe ."
alias wsh="$JB_PATH/WebStorm/bin/webstorm64.exe ."
alias rmh="$JB_PATH/RubyMine/bin/rubymine64.exe ."
alias glh="$JB_PATH/GoLand/bin/goland64.exe ."
{{ else if eq .chezmoi.os "linux" }}
{{ else if eq .chezmoi.os "darwin" }}
alias pyh="open -na 'PyCharm.app' --args ."
alias ijh="open -na 'IntelliJ IDEA.app' --args ."
alias wsh="open -na 'WebStorm.app' --args ."
alias rmh="open -na 'RubyMine.app' --args ."
alias glh="open -na 'GoLand.app' --args ."
{{ end }}

{{ if eq .chezmoi.os "windows" }}
#windows
alias explorer="explorer.exe ."

# Intercept calls to 'powershell' and block them
powershell.exe() {
  echo "Error: Direct calls to 'powershell.exe' are blocked for security reasons." >&2
  echo "If you need to run the actual PowerShell, look into dotfiles." >&2
  return 1 # Indicate failure
}

# windows shenanigans
alias d2u="find . -type f -print0 | xargs -0 dos2unix"

# Alias to call the actual powershell.exe when needed
# This uses the full Windows path to bypass the 'powershell' function above.
alias powershell_actual='/mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe'
{{ end }}

#youtube-dl
alias yt="youtube-dl"

# python
alias svenv='if [ -d ".venv" ]; then source .venv/bin/activate; elif [ -d "venv" ]; then source venv/bin/activate; else echo "No .venv or venv found."; fi'

# microphone
alias mutemic='osascript -e "set volume input volume 0"'
alias unmutemic='osascript -e "set volume input volume 100"'
